{% extends 'base.html' %}

{% block content %}

<div class="top-banner-wrapper bg-dark text-shadow">
    <span class="banner-title">Authors</span>
    <nav class="top-banner">
        <ul>
            <li>
                <button class="border-btn">
                    <a title="Go to previous page" href="/authors">
                        <i class="fa fa-hand-o-left"></i>
                    </a>
                </button>
            </li>
        </ul>
    </nav>
</div>

<div class="container">
    <div class="form-container">
        <form action="{{ request.referrer | default('/') }}" method='POST'>
            <h3>Create new author:</h3>
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" name="name" id="name" required autofocus>
            </div>
            <div class="submit-container add-btn">
                <input type="submit" value="Add">
            </div>

        </form>
    </div>
</div>

{% endblock %}