/* CSS for all forms */

.form-container {
    width: 60%;
    padding: 4vh 3vw;
    margin: auto;
    border-radius: 7px;
}

.form-book-container {
    width: 100%;
    padding: 4vh 1.5vw;
}

.form-container_item {
    /* Class for books template forms (edit and new) */
    flex-basis: 47%;
    margin: 0 auto;
}

.form-container > form {
    padding: 4vh 3vw;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 0 0 3vh 0;
}

.form-group > input,
.form-group > select {
    margin-top: 2vh;
}

.submit-container {
    text-align: right;
}