/* CSS for filter search forms in /books/ */

.search-container-wrapper {
    margin: 2vh 1vw;
    display: flex;
    justify-content: space-evenly;
}

.search-container {
    display: flex;
    align-items: center;
    flex-basis: 30%;
    width: 100%;
}

.search-container-item {
    height: 30px;
}

select.search-container-item {
    width: 100%;
}
