/* CSS for template related classes */

/* authors and publishers (shared CSS) */

.author, .publisher {
    font-size: 18px;
}

.author > .info,
.publisher > .info {
    /* 3% extra to allow for borders */
    flex-basis: 57%;
}

.author > .works,
.publisher > .works {
    /* 3% extra to allow for borders */
    flex-basis: 47%;
}

/* books */

.books-show {
    width: 90%;
    margin: auto;
    padding: 3vh 0;
    font-size: larger;
    display: flex;
    justify-content: space-between;
}

.books-show > .card-item {
    flex-basis: 45%;
}

.low-stock-font {
    color: red;
}

.low-stock-border {
    border: 1px groove rgba(216, 25, 73, 0.459) !important;
}

.books-banner {
    text-align: center;
    border: 1px solid grey;
    border-radius: 3px;
    width: 90%;
    margin: auto;
    line-height: 100% !important;
    color: var(--bg-colour);
    text-shadow: 1px 1px 3px black;
}

/* /index.html login page */

.splash-screen {
    padding-top: 20vh;
    margin: auto;
    width: 40%;
    text-align: center;
}