/* CSS for template related classes */

/* authors and publishers (shared CSS) */

.author, .publisher {
    line-height: 150%;
    font-size: 18px;
}

.author > .info,
.publisher > .info {
    /* 3% extra to allow for borders */
    flex-basis: 67%;
}

.author > .works,
.publisher > .works {
    /* 3% extra to allow for borders */
    flex-basis: 27%;
}

/* books */

.books-show {
    width: 60%;
    margin: auto;
    padding: 6vh 0;
    font-size: larger;
}

.low-stock-font {
    color: red;
}

.low-stock-border {
    border: 1px groove rgba(216, 25, 73, 0.459);
}

/* /index.html login page */

.splash-screen {
    padding-top: 20vh;
    margin: auto;
    width: 40%;
    text-align: center;
}