{% extends 'base.html' %}

{% block content %}

<a href="{{ request.referrer }}">Back</a>

<form action="{{ request.referrer }}" method="POST">
    <h3>Publisher:</h3>

    <label for="name">Company:</label>
    <input type="text" name="name" id="name" value="{{ publisher.name }}" required autofocus>

    <label for="website">Website:</label>
    <input type="text" name="website" id="website" value="{{ publisher.website }}">

    <label for="salesperson">Salesperson:</label>
    <input type="text" name="salesperson" id="salesperson" 
    {% if publisher.contact !=None %} value="{{ publisher.salesperson }}" {% endif %}>

    <label for="contact">Contact:</label>
    <input type="text" name="contact" id="contact" 
    {% if publisher.contact !=None %} value="{{ publisher.contact }}" {% endif %}>

    <input type="submit" value="Edit">
</form>

{% endblock %}