{% extends 'base.html' %}

{% block content %}

<div class="container">
    {% include 'components/back_button.html' %}

    <div class="form-container">
        <form action="{{ request.referrer | default('/') }}" method='POST'>
            <h3>Publisher:</h3>

            <div class="form-group">
                <label for="name">Company:</label>
                <input type="text" name="name" id="name" required autofocus>
            </div>

            <div class="form-group">
                <label for="website">Website:</label>
                <input type="text" name="website" id="website" required>
            </div>

            <div class="form-group">
                <label for="salesperson">Salesperson:</label>
                <input type="text" name="salesperson" id="salesperson">
            </div>

            <div class="form-group">
                <label for="contact">Contact:</label>
                <input type="text" name="contact" id="contact">
            </div>

            <div class="submit-container">
                <input type="submit" value="Add">
            </div>
        </form>
    </div>
</div>
{% endblock %}