{% extends 'base.html' %}

{% block content %}

{% include 'components/back_button.html' %}
<div class="container">

    <div class="form-container form-book-container">
        <form action="{{ request.referrer | default('/') }}" method="POST"
            class="form-container flex-container flex-column">
            <h3>Book:</h3>
            <div class="flex-container">
                <div class="form-container_item">
                    <div class="form-group">
                        <label for="isbn">ISBN:</label>
                        <input type="text" name="isbn" id="isbn" value="{{ book.isbn }}" required autofocus>
                    </div>

                    <div class="form-group">
                        <label for="title">Title:</label>
                        <input type="text" name="title" id="title" value="{{ book.title }}" required>
                    </div>

                    <div class="form-group">
                        <label for="genre">Genre:</label>
                        <input type="text" name="genre" id="genre" value="{{ book.genre }}" required>
                    </div>

                    <div class="form-group">
                        <label for="author_id">Author:</label>
                        <select id="author_id" name="author_id" required>
                            {% for author in authors %}
                            <option value="{{ author.id }}" {% if book.author.id==author.id %} selected {% endif %}>{{
                                author.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="illustrator_id">Illustrator:</label>
                        <select id="illustrator_id" name="illustrator_id" required>
                            {% for illustrator in illustrators %}
                            <option value="{{ illustrator.id }}" {% if book.illustrator.id==illustrator.id %} selected
                                {% endif %}>{{
                                illustrator.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-container_item">
                    <div class="form-group">
                        <label for="publisher_id">Publisher:</label>
                        <select id="publisher_id" name="publisher_id" required>
                            {% for publisher in publishers %}
                            <option value="{{ publisher.id }}" {% if book.publisher.id==publisher.id %} selected {%
                                endif %}>{{
                                publisher.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="edition">Edition:</label>
                        <input type="number" name="edition" id="edition" value="{{ book.edition }}" required>
                    </div>

                    <div class="form-group">
                        <label for="cost">Cost:</label>
                        <input type="number" step="0.01" name="cost" id="cost" value="{{ book.cost }}" required>
                    </div>

                    <div class="form-group">
                        <label for="price">Price:</label>
                        <input type="number" step="0.01" name="price" id="price" value="{{ book.price }}" required>
                    </div>

                    <div class="form-group">
                        <label for="stock">Stock:</label>
                        <input type="number" name="stock" id="stock" value="{{ book.stock }}" required>
                    </div>

                    <div class="submit-container">
                        <input type="submit" value="Edit">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}