{% extends 'base.html' %}

{% block content %}

<div class="top-banner-wrapper bg-dark text-shadow">
    <span class="banner-title">Books inventory</span>
    <nav class="top-banner">
        <ul>
            <li>
                <a title="Create new entry" href="/books/new">New</a>
            </li>
        </ul>
    </nav>
</div>

<div class="container ">

    <form action="{{ request.path }}" method="GET">
        <select name="publisher" id="publisher">
            <option value="blank" selected disabled>Publisher...</option>
            {% for publisher in publishers %}
                <option value="{{ publisher.id }}">{{publisher.name}}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Add">
    </form>

    <div class="flex-container flex-column">
        <h2>List of books:</h2>
        <div class="card-list">
            {% for book in books %}
            <div class="card-container {% if book.stock < 5 %}low-stock-border{% endif %}">
                <div class="card card-index_template">
                    <div class="card-item card-info">
                        <a href="{{ request.path }}/{{ book.id }}">
                            <li>{{ book.isbn }}</li>
                            <li>{{ book.title }} <i>({{ book.edition }} Ed.)</i> </li>
                            <hr>
                            <li>{{ book.author.name }}</li>
                            <li>{{ book.illustrator.name }} <i>(Illutrator)</i></li>
                            <li>{{ book.publisher.name }}</li>
                            <li>{{ book.genre }}</li>
                            <li></li>
                    </div>
                    <div class="card-item card-pricing">
                        <li class='card-pricing_stock {% if book.stock < 5 %}low-stock-font{% endif %}'> {{ book.stock }}</li>
                        <li>£{{ book.price }}</li>
                        <li>£{{ book.cost }}</li>
                        <hr>
                        <li>£{{ book.get_mark_up() }}</li>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}